img.pimage {
    width: 150px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

.pp {
    position: absolute;
    left: -3000px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.flex{
    display: flex;
}

.card-custom{
    width: 12em;
    height: 20em;
    margin: 1em 2em;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, .4);
    border-radius: .4em;
    padding: 0;
    overflow: hidden;
}

.card-custom img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card-custom a{
    color: inherit;
    text-decoration: none;
}

.card-custom h3{
    max-height: 2.8em;
    overflow: hidden;
    padding: 0 .3em;
}

.card-custom h4{
    max-height: 1em;
    overflow: hidden;
}

.card-custom h4{
    padding: 0 .3em;
}

